# Cấu hình máy chủ (Server config)
PORT=5000

# Cấu hình bảo mật JWT (JSON Web Token secret key)
JWT_SECRET=shop_quan_ao_secret_key_123_456_789

# Cấu hình Database (Khi nào bạn bắt đầu thực hành kết nối CSDL thực tế)
DB_USER=saa
DB_PASSWORD=1234
DB_SERVER=localhost
DB_DATABASE=shopquanao
DB_PORT=1433
